body {
  background-image: url("assets/images/image-1.jpg");
  background-size: 100%;
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0 auto;
}

nav {
 width: 100%;
 height: 80px;
 background-color: #6ad2f3;
}

nav h1 {
  text-align: center;
  height: 40px;
  color: white;
  font-size: 30px;
  margin: 0;
  letter-spacing: 5px;
  padding: 20px;
}

section {
  margin: 10px 100px;
  padding: 70px;
}

main {
  background-color: white;
  width: 80%;
  margin-left: 150px;
  line-height: 46px;
}

textarea {
  resize: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 30px;
  margin: 0 auto;
  border-bottom: 1px solid gray;
}

.section1 {
  display: inline-block;
  width: 400px;
  padding: 18px;
  background-color: white;
  color: black;
  vertical-align: top;
}

.section1 #codigo {
  color: #668a9b;
  font-weight: bold;
}

.section2 {
  display: inline-block;
  width: 435px;
  height: 100px;
  margin-left: 50px;
  padding: 0;
  background-color: white;
}

.section2 #sent-text {
  padding: 10px;
  background-color: #6ad2f3;
  border: none;
  border-radius: 3px;
  color: white;
}

/*.section2 #contadorDeCaracteres {
  display: inline-block;
  margin-left: 193px;
}*/


#sent-text {
  margin-top: 20px;
  margin-left: 35px;
  outline: none;
  float: left;
}

#characteres {
  background: none;
  border: none;
  font-size: 14px;
  outline: none;
  float: right;
  margin-top: 8%;
  padding-top: 0;
  padding-right: 30px;
  color: blue;
}

.inputs {
  margin-top: -10px;
  background-color: white;
  height: 70px;
  border: none;
  width: 477px;
}

.content {
  border: 5px;
}
